[submodule ".quartz/plugins/alias-redirects"]
	path = .quartz/plugins/alias-redirects
	url = https://github.com/quartz-community/alias-redirects.git
[submodule ".quartz/plugins/article-title"]
	path = .quartz/plugins/article-title
	url = https://github.com/quartz-community/article-title.git
[submodule ".quartz/plugins/backlinks"]
	path = .quartz/plugins/backlinks
	url = https://github.com/quartz-community/backlinks.git
[submodule ".quartz/plugins/bases-page"]
	path = .quartz/plugins/bases-page
	url = https://github.com/quartz-community/bases-page.git
[submodule ".quartz/plugins/breadcrumbs"]
	path = .quartz/plugins/breadcrumbs
	url = https://github.com/quartz-community/breadcrumbs.git
[submodule ".quartz/plugins/canvas-page"]
	path = .quartz/plugins/canvas-page
	url = https://github.com/quartz-community/canvas-page.git
[submodule ".quartz/plugins/citations"]
	path = .quartz/plugins/citations
	url = https://github.com/quartz-community/citations.git
[submodule ".quartz/plugins/cname"]
	path = .quartz/plugins/cname
	url = https://github.com/quartz-community/cname.git
[submodule ".quartz/plugins/comments"]
	path = .quartz/plugins/comments
	url = https://github.com/quartz-community/comments.git
[submodule ".quartz/plugins/content-index"]
	path = .quartz/plugins/content-index
	url = https://github.com/quartz-community/content-index.git
[submodule ".quartz/plugins/content-meta"]
	path = .quartz/plugins/content-meta
	url = https://github.com/quartz-community/content-meta.git
[submodule ".quartz/plugins/content-page"]
	path = .quartz/plugins/content-page
	url = https://github.com/quartz-community/content-page.git
[submodule ".quartz/plugins/crawl-links"]
	path = .quartz/plugins/crawl-links
	url = https://github.com/quartz-community/crawl-links.git
[submodule ".quartz/plugins/created-modified-date"]
	path = .quartz/plugins/created-modified-date
	url = https://github.com/quartz-community/created-modified-date.git
[submodule ".quartz/plugins/darkmode"]
	path = .quartz/plugins/darkmode
	url = https://github.com/quartz-community/darkmode.git
[submodule ".quartz/plugins/description"]
	path = .quartz/plugins/description
	url = https://github.com/quartz-community/description.git
[submodule ".quartz/plugins/encrypted-pages"]
	path = .quartz/plugins/encrypted-pages
	url = https://github.com/quartz-community/encrypted-pages.git
[submodule ".quartz/plugins/explicit-publish"]
	path = .quartz/plugins/explicit-publish
	url = https://github.com/quartz-community/explicit-publish.git
[submodule ".quartz/plugins/explorer"]
	path = .quartz/plugins/explorer
	url = https://github.com/quartz-community/explorer.git
[submodule ".quartz/plugins/favicon"]
	path = .quartz/plugins/favicon
	url = https://github.com/quartz-community/favicon.git
[submodule ".quartz/plugins/folder-page"]
	path = .quartz/plugins/folder-page
	url = https://github.com/quartz-community/folder-page.git
[submodule ".quartz/plugins/footer"]
	path = .quartz/plugins/footer
	url = https://github.com/quartz-community/footer.git
[submodule ".quartz/plugins/github-flavored-markdown"]
	path = .quartz/plugins/github-flavored-markdown
	url = https://github.com/quartz-community/github-flavored-markdown.git
[submodule ".quartz/plugins/graph"]
	path = .quartz/plugins/graph
	url = https://github.com/quartz-community/graph.git
[submodule ".quartz/plugins/hard-line-breaks"]
	path = .quartz/plugins/hard-line-breaks
	url = https://github.com/quartz-community/hard-line-breaks.git
[submodule ".quartz/plugins/latex"]
	path = .quartz/plugins/latex
	url = https://github.com/quartz-community/latex.git
[submodule ".quartz/plugins/note-properties"]
	path = .quartz/plugins/note-properties
	url = https://github.com/quartz-community/note-properties.git
[submodule ".quartz/plugins/obsidian-flavored-markdown"]
	path = .quartz/plugins/obsidian-flavored-markdown
	url = https://github.com/quartz-community/obsidian-flavored-markdown.git
[submodule ".quartz/plugins/og-image"]
	path = .quartz/plugins/og-image
	url = https://github.com/quartz-community/og-image.git
[submodule ".quartz/plugins/ox-hugo"]
	path = .quartz/plugins/ox-hugo
	url = https://github.com/quartz-community/ox-hugo.git
[submodule ".quartz/plugins/page-title"]
	path = .quartz/plugins/page-title
	url = https://github.com/quartz-community/page-title.git
[submodule ".quartz/plugins/reader-mode"]
	path = .quartz/plugins/reader-mode
	url = https://github.com/quartz-community/reader-mode.git
[submodule ".quartz/plugins/recent-notes"]
	path = .quartz/plugins/recent-notes
	url = https://github.com/quartz-community/recent-notes.git
[submodule ".quartz/plugins/remove-draft"]
	path = .quartz/plugins/remove-draft
	url = https://github.com/quartz-community/remove-draft.git
[submodule ".quartz/plugins/roam"]
	path = .quartz/plugins/roam
	url = https://github.com/quartz-community/roam.git
[submodule ".quartz/plugins/search"]
	path = .quartz/plugins/search
	url = https://github.com/quartz-community/search.git
[submodule ".quartz/plugins/spacer"]
	path = .quartz/plugins/spacer
	url = https://github.com/quartz-community/spacer.git
[submodule ".quartz/plugins/stacked-pages"]
	path = .quartz/plugins/stacked-pages
	url = https://github.com/quartz-community/stacked-pages.git
[submodule ".quartz/plugins/syntax-highlighting"]
	path = .quartz/plugins/syntax-highlighting
	url = https://github.com/quartz-community/syntax-highlighting.git
[submodule ".quartz/plugins/table-of-contents"]
	path = .quartz/plugins/table-of-contents
	url = https://github.com/quartz-community/table-of-contents.git
[submodule ".quartz/plugins/tag-list"]
	path = .quartz/plugins/tag-list
	url = https://github.com/quartz-community/tag-list.git
[submodule ".quartz/plugins/tag-page"]
	path = .quartz/plugins/tag-page
	url = https://github.com/quartz-community/tag-page.git
[submodule ".quartz/plugins/unlisted-pages"]
	path = .quartz/plugins/unlisted-pages
	url = https://github.com/quartz-community/unlisted-pages.git
